/**Viridiana Armenta Solano
Administraciónd de base de datos
4to cuatrimestre   20 sep 2025
**/
USE [master]
GO
/****** Object:  Database [AkirasBoutiques]    Script Date: 26/7/2022 17:11:20 ******/
CREATE DATABASE [AkirasBoutiques]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'AkirasBoutiques', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\AkirasBoutiques.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'AkirasBoutiques_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\AkirasBoutiques_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [AkirasBoutiques].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [AkirasBoutiques]
GO
/****** Object:  Table [dbo].[categoria]    Script Date: 26/7/2022 17:11:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[categoria](
	[id_categoria] [int] NOT NULL,
	[nombre] [text] NOT NULL,
	[descripcion] [text] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_categoria] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[cliente]    Script Date: 26/7/2022 17:11:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[cliente](
	[id_cliente] [int] NOT NULL,
	[nombre] [text] NOT NULL,
	[apellido] [text] NOT NULL,
	[direccion] [text] NOT NULL,
	[fec_nac] [date] NOT NULL,
	[telefono] [int] NOT NULL,
	[email] [text] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_cliente] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[detalle]    Script Date: 26/7/2022 17:11:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[detalle](
	[id_detalle] [int] NOT NULL,
	[id_producto] [int] NOT NULL,
	[cantidad] [int] NOT NULL,
	[precio] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_detalle] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[factura]    Script Date: 26/7/2022 17:11:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[factura](
	[id_factura] [int] NOT NULL,
	[id_cliente] [int] NOT NULL,
	[fecha] [date] NULL,
	[id_detalle] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_factura] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[producto]    Script Date: 26/7/2022 17:11:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[producto](
	[id_producto] [int] NOT NULL,
	[nombre] [text] NOT NULL,
	[precio] [int] NOT NULL,
	[stock] [int] NOT NULL,
	[id_categoria] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_producto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[categoria] ([id_categoria], [nombre], [descripcion]) VALUES (1, N'Blusa', N'Prenda abierta de tela fina , similar a la camisa , que usan las mujeres y los niños , y que cubre la parte superior del cuerpo')
INSERT [dbo].[categoria] ([id_categoria], [nombre], [descripcion]) VALUES (2, N'Falda', N'Prenda de vestir que cuelga de la cintura y cubre las piernas, al menos en parte. ')
INSERT [dbo].[categoria] ([id_categoria], [nombre], [descripcion]) VALUES (3, N'Pantalón', N'Prenda de vestir que se ajusta a la cintura y llega generalmente hasta el pie , cubriendo cada pierna separadamente .')
GO
INSERT [dbo].[cliente] ([id_cliente], [nombre], [apellido], [direccion], [fec_nac], [telefono], [email]) VALUES (0, N'María Antonieta', N'García Meléndez ', N'Calle las Girasol #305 col. Jardines ', CAST(N'1989-06-15' AS Date), 1828921321, N'mariantonia@gmail.com')
INSERT [dbo].[cliente] ([id_cliente], [nombre], [apellido], [direccion], [fec_nac], [telefono], [email]) VALUES (1, N'Óscar Germán', N'Wong Tabares ', N'Calle Revolución #879 col. México', CAST(N'1994-01-28' AS Date), 2035672143, N'germanwong@gmail.com')
INSERT [dbo].[cliente] ([id_cliente], [nombre], [apellido], [direccion], [fec_nac], [telefono], [email]) VALUES (2, N'Valentina Anastasia', N'Huerta Corral', N'Calle Flamenco #3493 col. Aviar', CAST(N'1992-07-03' AS Date), 0, N'valehue92@gmail.com')
GO
INSERT [dbo].[detalle] ([id_detalle], [id_producto], [cantidad], [precio]) VALUES (1, 32, 4, 1600)
INSERT [dbo].[detalle] ([id_detalle], [id_producto], [cantidad], [precio]) VALUES (2, 8, 3, 690)
INSERT [dbo].[detalle] ([id_detalle], [id_producto], [cantidad], [precio]) VALUES (3, 39, 4, 200)
GO
INSERT [dbo].[factura] ([id_factura], [id_cliente], [fecha], [id_detalle]) VALUES (1, 9, CAST(N'2021-12-22' AS Date), 1)
INSERT [dbo].[factura] ([id_factura], [id_cliente], [fecha], [id_detalle]) VALUES (2, 9, CAST(N'2021-10-11' AS Date), 2)
INSERT [dbo].[factura] ([id_factura], [id_cliente], [fecha], [id_detalle]) VALUES (3, 4, CAST(N'2021-12-07' AS Date), 3)
GO
INSERT [dbo].[producto] ([id_producto], [nombre], [precio], [stock], [id_categoria]) VALUES (1, N'Blusa de flores', 200, 70, 1)
INSERT [dbo].[producto] ([id_producto], [nombre], [precio], [stock], [id_categoria]) VALUES (2, N'Blusa tipo escocesa ', 150, 35, 1)
INSERT [dbo].[producto] ([id_producto], [nombre], [precio], [stock], [id_categoria]) VALUES (3, N'Blusa rayada manga larga', 100, 37, 1)
GO
ALTER TABLE [dbo].[detalle]  WITH CHECK ADD  CONSTRAINT [id_producto] FOREIGN KEY([id_producto])
REFERENCES [dbo].[producto] ([id_producto])
GO
ALTER TABLE [dbo].[detalle] CHECK CONSTRAINT [id_producto]
GO
ALTER TABLE [dbo].[factura]  WITH CHECK ADD  CONSTRAINT [id_cliente] FOREIGN KEY([id_cliente])
REFERENCES [dbo].[cliente] ([id_cliente])
GO
ALTER TABLE [dbo].[factura] CHECK CONSTRAINT [id_cliente]
GO
ALTER TABLE [dbo].[factura]  WITH CHECK ADD  CONSTRAINT [id_detalle] FOREIGN KEY([id_detalle])
REFERENCES [dbo].[detalle] ([id_detalle])
GO
ALTER TABLE [dbo].[factura] CHECK CONSTRAINT [id_detalle]
GO
ALTER TABLE [dbo].[producto]  WITH CHECK ADD  CONSTRAINT [id_categoria] FOREIGN KEY([id_categoria])
REFERENCES [dbo].[categoria] ([id_categoria])
GO
ALTER TABLE [dbo].[producto] CHECK CONSTRAINT [id_categoria]
GO
USE [master]
GO

//////////*****************************************************************************************************************************/////////

/** Análisis de tablas creadas**/
select * from categoria
select * from cliente
select * from detalle
select * from factura
select * from producto
GO

/**Creación de nuevas tablas**/  

create table Empleados (
Nombre_empleado varchar (40) primary key,
Direccion_empleado varchar (30) not null,
Telefono_empleado varchar (10) not null,
Edad_empleado int not null,
ID_sucursal int not null, --este atributo será la relación con sucursal
correo_empleado varchar (30) not null,
Contraseña varchar (10) not null)

create table Sucursales (
ID_sucursal  int primary key identity, --atributo relacionado a empleados
Nombre_sucursal varchar (30) not null, 
Nombre_encargado varchar (40) not null,
Dirección_sucursal varchar (100) not null,
Telefono_sucursal varchar (10) not null,
Ciudad_sucursal varchar (20) not null,
Estado_sucursal varchar (20) not null)

select * from Empleados
ORDER BY ID_sucursal ASC

select * from Sucursales

/**Crear la relación entre la tabla empleados y la tabla sucursal**/

alter table Sucursales
add constraint FK_ID_encargado
foreign key (Nombre_encargado) references Empleados (Nombre_empleado)
on update cascade 
on delete cascade



/*Insertar la información en las tablas creadas (EMPLEADOS)*/
--sucursal 1
insert Empleados(
Nombre_empleado, Direccion_empleado, Telefono_empleado, Edad_empleado, ID_sucursal,
correo_empleado, Contraseña)
VALUES (
 'Sonia Alejandra Fernández Moreno', 'calle bardot #45, col. girasol', '4447698521', 25 , 1 ,
 'sonia15.10@gmail.com', 'sonia.10')

 insert Empleados(
Nombre_empleado, Direccion_empleado, Telefono_empleado, Edad_empleado, ID_sucursal,
correo_empleado, Contraseña)
VALUES (
 'Veronica Lopez Ayono', 'calle bardot #25, col. girasol', '4445684720', 30 , 1 ,
 'Vero.lop19@gmail.com', 'Ver.Lop1')
  
 insert Empleados(
Nombre_empleado, Direccion_empleado, Telefono_empleado, Edad_empleado, ID_sucursal,
correo_empleado, Contraseña)
VALUES (
 'Diego Torres Diaz', 'c Valleverde,SN col.pilar', '4445874159', 30 , 1 ,
 'DiegoTo036@gmail.com', 'To.15055') 



 --sucursal 2






 --sucursal 3







  --sucursal 4





 


  --sucursal 5







  --sucursal 6







  --sucursal 7
 


 

 insert Empleados(
Nombre_empleado, Direccion_empleado, Telefono_empleado, Edad_empleado, ID_sucursal,
correo_empleado, Contraseña)
VALUES (
 'Alejandro Fernandez Rios', 'Av.Pulpo #20 col.Juarez', '6879458628', 45 , 7 ,
 'AleFer.@gmail.com', 'Rios.278'

  insert Empleados(
Nombre_empleado, Direccion_empleado, Telefono_empleado, Edad_empleado, ID_sucursal,
correo_empleado, Contraseña)
VALUES (
 'Miguel Angel Patron Rios', 'Av.universo, #10 col.13mayo', '6679929893', 35 , 7 ,
 'Miguel5@gmail.com', 'Angel102')

 /*Insertar la información en las tablas creadas (SUCURSALES)*/

 //******REVISAR PORQUE NO SE ENUMERAN LAS SUCURSALES*****///

insert Sucursales (
Nombre_sucursal,Nombre_encargado,
Dirección_sucursal,Telefono_sucursal, Ciudad_sucursal, Estado_sucursal)
VALUES (
'Akira´s Boutique: Las Mercedes', 'Sonia Alejandra Fernández Moreno',
'Calle Roble #507 Frac. Las Mercedes', '4447831225', 'San Luis Potosi', 'San Luis Potosi')

insert Sucursales (
Nombre_sucursal,Nombre_encargado,
Dirección_sucursal,Telefono_sucursal, Ciudad_sucursal, Estado_sucursal)
VALUES (
'Akira´s Boutique: Obraje', 'Fernando Calderón Ayala',
'Calle Dr. Jesus Días de León #438 col. Obraje', '4493780921', 'Aguascalientes', 'Aguascalientes')

insert Sucursales (
Nombre_sucursal,Nombre_encargado,
Dirección_sucursal,Telefono_sucursal, Ciudad_sucursal, Estado_sucursal)
VALUES (
'Akira´s Boutique:Gal Mazatlan', 'Daniela Fernanda Díaz Ordaz',
'Av. de la Marina #6204, Marina, local 35', '6692932059', 'Mazatlán', 'Sinaloa')




insert Sucursales (
Nombre_sucursal,Nombre_encargado,
Dirección_sucursal,Telefono_sucursal, Ciudad_sucursal, Estado_sucursal)
VALUES (
'Akira´s Boutique: Centro', 'Samuel Enrique Barrios Enciso',
'Av. Hidalgo #338 Zacatecas Centro', '4929301250', 
'Zacatecas', 'Zacatecas')

/***CORRECCIÓN DE ID SUCURSAL EN TABLA EMPLEADO (ESTO PORQUE SE MODIFICARON LOS ATRIBUTOS A LA TABLA SUCURSAL Y AFECTO EL ID***//

update Empleados
set ID_sucursal = 2
where Nombre_empleado in ('Sonia Alejandra Fernández Moreno','Veronica Lopez Ayono', 'Diego Torres Diaz', 'David Rojo Lopez', 'Alejandra Lopez Lopez')

update Empleados
set ID_sucursal = 3
where Nombre_empleado in ('Fernando Calderón Ayala', 'Barbara Ayon Martinez', 'Braulio Armenta Soto', 'Jesus Sotelo Allende', 'Rafael Moreno Lopez')

update Empleados
set ID_sucursal = 6
where Nombre_empleado in ('Daniela Fernanda Díaz Ordaz','Juan Luis Ozores', 'Rosa Imelda Aranda Marquez', 'Maria Elizabeth Lara Gallegos', 'Valencia Gerardo Velarde Luna') 


update Empleados
set ID_sucursal = 7
where Nombre_empleado in ( 'Mario Alberto Jiménez Salcido', 'Luis Jorge Alvarez Ortiz', 'Arturo Pasillas Cortes', 'Graciela Salazar Colis','Guadalupe Valdez Pedroza')

update Empleados
set ID_sucursal = 8
where Nombre_empleado in ('Yesenia Guadalupe Campos Rojo', 'Martin Oscar Mariles Ortiz', 'Emma Morales Rocha', 'Maria Teresa Gomez Empanada', 'Ignacio Sanpeter Guiperro')

update Empleados
set ID_sucursal = 9
where Nombre_empleado in ('Tamara Alejandra Bernal Ramos','Javier Grial Castañetas Esasi', 'Miguel Lopez Pomez', 'Pablo Pomez Lopez', 'Alejandra Empanada Rios') 

update Empleados
set ID_sucursal = 10
where Nombre_empleado in ('Samuel Enrique Barrios Enciso', 'Viridiana Armenta Solano', 'Evelyn Ozuna Hernandez', 'Alejandro Fernandez Rios', 'Miguel Angel Patron Rios')




/*******************C O M A N D O S      E X T R A S*************************************************/

update Empleados
set Telefono_empleado = 4448956741
where Nombre_empleado ='David Rojo Lopez'

update Sucursales
set ID_sucursal = 1
where Nombre_encargado ='Sonia Alejandra Fernández Moreno'

exec sp_rename 'Sucursales.ID_empleado', 'ID_encargado', 'COLUMN';

ALTER TABLE Empleados
add Encargado bit not null; 


ALTER TABLE Empleados
alter column Nombre_empleado varchar (40);

ALTER TABLE Sucursales
drop column ID_encargado

alter table Sucursales
DROP constraint FK_ID_encargado

drop table Empleados

drop table Sucursales

/*Disparador para verificar si es el encargado*/ /*SE ELIMINA*/
create trigger TRG_ID_encargado on Sucursales
for insert, update
as begin
if exists ( select 1 from inserted i 
            where i.ID_encargado not in(
			select ID_empleado
			from Empleados
			where Encargado = 1
			)
		)
	begin
	    raiserror ('El ID de encargado no es válido', 16, 1)
		rollback transaction
		end
	end

	DROP TRIGGER TRG_ID_encargado



/*COMANDOS EXTRAS*/





